node_modules/
dist/
dist-web/
coverage/
*.log
.DS_Store
release/
/output/
apps/android/.gradle/
apps/android/.kotlin/
apps/android/build/
apps/android/capacitor-cordova-android-plugins/
apps/android/app/build/
apps/android/local.properties
apps/android/app/src/main/assets/
*.keystore
*.jks
.env
.env.*
